# Data Exploration

## Data Import

In [2]:
import pandas as pd
import numpy as np

from scripts.data_from_xlsx import merge_columns

In [3]:
d_hjorring = pd.read_excel("../data/data_district_heating.xlsx", sheet_name="Hjorring")
print(d_hjorring.head())

    SerialID  building_id  zone_id     SEEB  \
0  311487854            0        0  2-1-3-0
1  311235119            0        0  2-1-3-0
2  311235135            0        0  2-1-3-0
3  311235144            0        0  2-1-3-0
4  311488415            0        0  2-1-3-0

                                    S_text  \
0        Fjernvarme uden veksler - direkte
1  Fjernvarme uden veksler (direkte anlæg)
2  Fjernvarme uden veksler (direkte anlæg)
3  Fjernvarme uden veksler (direkte anlæg)
4        Fjernvarme uden veksler - direkte

                                              L_text                Type  \
0  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
1  Ejendommen opvarmes med fjernvarme, og anlægge...  DirectDistrictHeat
2  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
3  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
4  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat

   IsPrimary  Fuel  FuelPrice  YearlySubscriptionPrice      SubscriptionUnit  \
0       True   NaN        NaN                  1171.25  BBRAreaInSqareMeters
1       True   NaN        NaN                  2487.50  BBRAreaInSqareMeters
2       True   NaN        NaN                     0.00             Specified
3       True   NaN        NaN                     0.00             Specified
4       True   NaN        NaN                     0.00             Specified

   PricePerSubscriptionUnit  SpecifiedSubscriptionUnitAmount  \
0                     31.25                            112.0
1                     18.65                            210.0
2                    200.00                              0.0
3                    200.00                              0.0
4                    220.63                              0.0

                            DistrictHeatingPlantName
0  Bindslev Varmeværk A.m.b.a. - Boliger - 0-160 ...
1  Løkken Varmeværk A.m.b.a. - 201-400 m² (19-01-...
2               Hjørring Varmeforsyning (19-01-2016)
3               Hjørring Varmeforsyning (19-01-2016)
4               Hjørring Varmeforsyning (13-02-2020)

In [4]:
d_favrskov = pd.read_excel("../data/data_district_heating.xlsx", sheet_name="Favrskov")
print(d_favrskov.head())

    SerialID  building_id  zone_id     SEEB  \
0  311239024            0        0  2-1-3-0
1  311239047            0        0  2-1-3-0
2  311239049            0        0  2-1-3-0
3  311244995            0        0  2-1-3-0
4  311251256            0        0  2-1-3-0

                                    S_text  \
0  Fjernvarme uden veksler (direkte anlæg)
1  Fjernvarme uden veksler (direkte anlæg)
2  Fjernvarme uden veksler (direkte anlæg)
3  Fjernvarme uden veksler (direkte anlæg)
4  Fjernvarme uden veksler (direkte anlæg)

                                              L_text                Type  \
0  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
1  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
2  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
3  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
4  :Klynge A, B, C og D:\nBygningerne opvarmes me...  DirectDistrictHeat

   IsPrimary  Fuel  FuelPrice  YearlySubscriptionPrice      SubscriptionUnit  \
0       True   NaN        NaN                  -1250.0  BBRAreaInSqareMeters
1       True   NaN        NaN                  -1250.0  BBRAreaInSqareMeters
2       True   NaN        NaN                   3750.0                   NaN
3       True   NaN        NaN                   3750.0                   NaN
4       True   NaN        NaN                   3562.5  BBRAreaInSqareMeters

   PricePerSubscriptionUnit  SpecifiedSubscriptionUnitAmount  \
0                      25.0                           2364.0
1                      25.0                           5746.0
2                       0.0                              0.0
3                       0.0                              0.0
4                      25.0                           1152.0

                            DistrictHeatingPlantName
0  Hadsten Varmeværk A.m.b.A. - Over 200 m² (22-0...
1  Hadsten Varmeværk A.m.b.A. - Over 200 m² (22-0...
2  Hadsten Varmeværk A.m.b.A. - 0-200 m² (22-01-2...
3  Hadsten Varmeværk A.m.b.A. - 0-200 m² (22-01-2...
4  Hadsten Varmeværk A.m.b.A. - Over 200 m² (07-0...

In [5]:
d_aarhus = pd.read_excel("../data/data_district_heating.xlsx", sheet_name="Aarhus")
print(d_aarhus.head())

    SerialID  building_id  zone_id     SEEB  \
0  311075771            0        0  2-1-3-0
1  311075781            0        0  2-1-3-0
2  311075799            0        0  2-1-3-0
3  311075871            0        0  2-1-3-0
4  311075881            0        0  2-1-3-0

                                    S_text  \
0  Fjernvarme uden veksler (direkte anlæg)
1  Fjernvarme uden veksler (direkte anlæg)
2  Fjernvarme uden veksler (direkte anlæg)
3  Fjernvarme uden veksler (direkte anlæg)
4                       Direkte fjernvarme

                                              L_text                Type  \
0  Ejendommen opvarmes med fjernvarme, og anlægge...  DirectDistrictHeat
1  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
2  Bygningen opvarmes med fjernvarme. Anlægget er...  DirectDistrictHeat
3                                                NaN  DirectDistrictHeat
4                                                NaN  DirectDistrictHeat

   IsPrimary  Fuel  FuelPrice  YearlySubscriptionPrice      SubscriptionUnit  \
0       True   NaN        NaN                    750.0  BBRAreaInSqareMeters
1       True   NaN        NaN                    750.0  BBRAreaInSqareMeters
2       True   NaN        NaN                    750.0  BBRAreaInSqareMeters
3       True   NaN        NaN                   1705.0  BBRAreaInSqareMeters
4       True   NaN        NaN                   3750.0  BBRAreaInSqareMeters

   PricePerSubscriptionUnit  SpecifiedSubscriptionUnitAmount  \
0                      15.5                            103.0
1                      15.5                            113.0
2                      15.5                            120.0
3                      15.5                           2120.0
4                      15.5                            685.0

          DistrictHeatingPlantName
0  Affaldvarme Aarhus - 1,5 - 3 QP
1  Affaldvarme Aarhus - 1,5 - 3 QP
2  Affaldvarme Aarhus - 1,5 - 3 QP
3        Affaldvarme Aarhus - 6 QP
4  Affaldvarme Aarhus - 1,5 - 3 QP

In [6]:
d_gt = pd.read_excel("../data/data_district_heating.xlsx", sheet_name="Ground Truth")
print(d_gt.head())

    SerialID  building_id  zone_id     SEEB  \
0  311117034            0        0  2-1-3-0
1  311117893      2050872  2050872  2-1-3-0
2  311119019            0        0  2-1-3-0
3  311121828            0        0  2-1-3-0
4  311122000            0        0  2-1-3-0

                                              S_text  \
0  Fjernvarme med isoleret veksler (indirekte anl...
1                            Eksisterende fjernvarme
2  Fjernvarme med uisoleret veksler (indirekte an...
3  Fjernvarme med isoleret veksler (indirekte anl...
4  Fjernvarme med isoleret veksler (indirekte anl...

                                              L_text  \
0  Bygningen opvarmes med fjernvarme. Anlægget er...
1                                                NaN
2  Bygningen opvarmes med fjernvarme. Anlægget er...
3  Ejendommen opvarmes med fjernvarme fra HOFOR.\...
4  Bygningen opvarmes med fjernvarme. Anlægget er...

                        Type  Pieces1  Manufacturer1 SubType1  ...  \
0  DistrictHeatWithExchanger      1.0        Unknown      NaN  ...
1  DistrictHeatWithExchanger      1.0        Unknown      NaN  ...
2  DistrictHeatWithExchanger      1.0        Unknown      NaN  ...
3  DistrictHeatWithExchanger      1.0  Danfoss Redan      NaN  ...
4  DistrictHeatWithExchanger      1.0        Unknown      NaN  ...

       SubscriptionUnit PricePerSubscriptionUnit  \
0             Specified                   211.98
1             Specified                     0.00
2             Specified                   211.98
3  BBRAreaInSqareMeters                    20.00
4             Specified                   211.98

  SpecifiedSubscriptionUnitAmount  \
0                            15.0
1                             0.0
2                           190.0
3                           502.0
4                            25.0

                       DistrictHeatingPlantName HeatLoss BFactor  \
0  HOFOR (Københavns Energi) - MWh (04-07-2014)      1.1     0.0
1                   Københavns Energi MWh (293)      1.5     0.7
2  HOFOR (Københavns Energi) - MWh (04-07-2014)      5.0     0.0
3  HOFOR (Københavns Energi) - MWh (04-07-2014)      1.1     0.0
4  HOFOR (Københavns Energi) - MWh (04-07-2014)      7.0     0.0

  NominalEffect MinimumTemperature StandbyPowerUsage  HeatsHotWater
0          20.0               60.0               0.0            1.0
1          16.0                0.0               5.0            0.0
2          20.0               65.0               0.0            0.0
3          60.0               60.0               0.0            0.0
4          20.0               65.0               0.0            0.0

[5 rows x 42 columns]

## Data Size

In [7]:
print("Data Favrskov shape: ", d_favrskov.shape)
print("Data Hjorring shape: ", d_hjorring.shape)
print("Data Aarhus shape: ", d_aarhus.shape)
print("Data Ground Truth shape: ", d_gt.shape)

Data Favrskov shape:  (111, 15)
Data Hjorring shape:  (6138, 15)
Data Aarhus shape:  (29542, 15)
Data Ground Truth shape:  (2272, 42)

Let's merge the dataset on the SerialID to check whether the ground truth data are present in the rest of the samples.

In [8]:
d_f_gt = pd.merge(left=d_favrskov, right=d_gt, on="SerialID")
d_h_gt = pd.merge(left=d_hjorring, right=d_gt, on="SerialID")
d_a_gt = pd.merge(left=d_aarhus, right=d_gt, on="SerialID")
print(d_f_gt.shape)
print(d_h_gt.shape)
print(d_a_gt.shape)

(0, 56)
(0, 56)
(0, 56)

From the previous result, we can say that the ground truth is not present in data.
Thus we have 2272 labeled samples.

In [9]:
print(d_favrskov.shape[0] + d_hjorring.shape[0] + d_aarhus.shape[0])

35791

On the other hand, we have 35791 entries we want to label.

## Features of the Ground Truths

In [10]:
print(d_gt[d_gt['SerialID'] == 311795931].iloc[0, 0:31])

SerialID                                                      311795931
building_id                                                           0
zone_id                                                               0
SEEB                                                            2-1-3-0
S_text                                              Fjernvarmeforsyning
L_text                Forsyningsformen er fjernvarme som leveres af ...
Type                                          DistrictHeatWithExchanger
Pieces1                                                             2.0
Manufacturer1                                                      Reci
SubType1                                                          VT 90
HxType1                                                      Rørveksler
NominelEffectEach1                                300 kW (total 600 kW)
Year1                                                              1984
Pieces2                                                             3.0
Manufacturer2                                                      Reci
SubType2                                                          VT240
HxType2                                                      Rørveksler
NominelEffectEach2                               750 kW (total 2200 kW)
Year2                                                              1984
Pieces3                                                             2.0
Manufacturer3                                                      Reci
SubType3                                                          VT120
HxType3                                                      Rørveksler
NominelEffectEach3                                400 kW (total 800 kW)
Year3                                                            1984.0
Pieces4                                                             1.0
Manufacturer4                                                   Unknown
SubType4                                                            NaN
HxType4                                           Isoleret pladeveksler
NominelEffectEach4                                                  NaN
Year4                                                               NaN
Name: 2126, dtype: object

In [11]:
d_gt_labels = d_gt.iloc[:, 7:31]
print(d_gt_labels.columns)
print("Number of lables: ", d_gt_labels.shape[1])

Index(['Pieces1', 'Manufacturer1', 'SubType1', 'HxType1', 'NominelEffectEach1',
       'Year1', 'Pieces2', 'Manufacturer2', 'SubType2', 'HxType2',
       'NominelEffectEach2', 'Year2', 'Pieces3', 'Manufacturer3', 'SubType3',
       'HxType3', 'NominelEffectEach3', 'Year3', 'Pieces4', 'Manufacturer4',
       'SubType4', 'HxType4', 'NominelEffectEach4', 'Year4'],
      dtype='object')
Number of lables:  24

In [12]:
print(d_gt_labels.isnull().mean() * 100)

Pieces1                 0.000000
Manufacturer1           0.000000
SubType1               82.394366
HxType1                 7.262324
NominelEffectEach1     92.561620
Year1                  58.846831
Pieces2                95.774648
Manufacturer2          95.730634
SubType2               96.830986
HxType2                96.082746
NominelEffectEach2     99.691901
Year2                  96.390845
Pieces3                99.647887
Manufacturer3          99.647887
SubType3               99.779930
HxType3                99.647887
NominelEffectEach3     99.911972
Year3                  99.691901
Pieces4                99.735915
Manufacturer4          99.735915
SubType4               99.823944
HxType4                99.735915
NominelEffectEach4    100.000000
Year4                  99.823944
dtype: float64

From the previous result, we know that every entry has informations about `Pieces1` and `Manufacturer1`.
We can see that `NominalEffectEach4` is always empty, and thus we do not have information about this column.
Finally, we can see that data are very sparse, indeed very few columns are filled.

In [13]:
null_counts = d_gt_labels.isnull().sum(axis=1)
missing_values = null_counts.value_counts()

missing_index = np.array(missing_values.index)
missing_index.sort()
missing_values = np.array(missing_values[missing_index])
missing_values_cum = np.cumsum(missing_values)
percentages = missing_values_cum / missing_values_cum[-1] * 100

for i in range(missing_index.shape[0]):
    print("Number of samples: ", missing_values_cum[i], f"\tCorresponding percentage: {percentages[i]:.3f} No more than {missing_index[i]} entries missing")

Number of samples:  1 	Corresponding percentage: 0.044 No more than 3 entries missing
Number of samples:  5 	Corresponding percentage: 0.220 No more than 6 entries missing
Number of samples:  6 	Corresponding percentage: 0.264 No more than 7 entries missing
Number of samples:  7 	Corresponding percentage: 0.308 No more than 8 entries missing
Number of samples:  8 	Corresponding percentage: 0.352 No more than 10 entries missing
Number of samples:  10 	Corresponding percentage: 0.440 No more than 12 entries missing
Number of samples:  61 	Corresponding percentage: 2.685 No more than 13 entries missing
Number of samples:  65 	Corresponding percentage: 2.861 No more than 14 entries missing
Number of samples:  85 	Corresponding percentage: 3.741 No more than 16 entries missing
Number of samples:  90 	Corresponding percentage: 3.961 No more than 17 entries missing
Number of samples:  164 	Corresponding percentage: 7.218 No more than 18 entries missing
Number of samples:  396 	Corresponding percentage: 17.430 No more than 19 entries missing
Number of samples:  998 	Corresponding percentage: 43.926 No more than 20 entries missing
Number of samples:  2140 	Corresponding percentage: 94.190 No more than 21 entries missing
Number of samples:  2272 	Corresponding percentage: 100.000 No more than 22 entries missing

In [14]:
print(f"Average length of S_text: {d_gt['S_text'].str.len().mean():.2f}\t standard deviation: {d_gt['S_text'].str.len().std():.2f}")
print(f"Average length of L_text: {d_gt['L_text'].str.len().mean():.2f} standard deviation: {d_gt['L_text'].str.len().std():.2f}")

Average length of S_text: 48.65	 standard deviation: 14.20
Average length of L_text: 195.77 standard deviation: 175.14

# Export Gold Label in csv

In [15]:
import sys
sys.path.append("../scripts")
from data_from_xlsx import merge_columns, to_csv

In [16]:
d_gt['text'] = merge_columns(d_gt['S_text'], d_gt['L_text'])
to_csv(d_gt['text'], "gt_x")

/Users/carlorosso/Documents/EnergyLabels/notebooks/../scripts/data_from_xlsx.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_text.iloc[null_idx] = ""
/Users/carlorosso/Documents/EnergyLabels/notebooks/../scripts/data_from_xlsx.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l_text.iloc[null_idx] = ""

In [17]:
to_csv(d_gt.iloc[:, 7:31], 'gt_y')

In [18]:
from nltk.tokenize import sent_tokenize
import nltk
print("Total number of sentences: ", (d_gt['text'].str.count(r'[.!?](?:\s|$)') + 1).sum())

Total number of sentences:  8745

In [19]:
print("Total number of lables: ", d_gt_labels.count().sum())

Total number of lables:  8662

In [20]:
n_sentences = (d_gt['text'].str.count(r'[.!?](?:\s|$)') + 1).sum()
n_labels = d_gt_labels.count().sum()
print("Labels on sentences ratio: ", n_labels/n_sentences, " Labels on sentences percentage: ", n_labels/n_sentences*100)

Labels on sentences ratio:  0.9905088622069754  Labels on sentences percentage:  99.05088622069755

In [21]:
import re

def tagger(text, labels):
    tagged_str = text
    tag_columns = [col for col in labels.index]
    for tag_col in tag_columns:
        if pd.notna(text):
            tag_val = labels[tag_col]
            tagged_str = re.sub(
                re.escape(str(tag_val)),  # Escape special regex chars
                f"{tag_val}_{{{tag_col}}}",  # Replacement string
                tagged_str,
                flags=re.IGNORECASE
            )
    return tagged_str

In [22]:
# print(tagger(d_gt['text'][0], d_gt_labels[0]))
i = 13
print(d_gt.loc[i, 'text'])

Ny fjernvarmeveksler<sep>

In [23]:
print(d_gt_labels.loc[i])

Pieces1                             1.0
Manufacturer1                   Unknown
SubType1                            NaN
HxType1               Fjernvarmeveksler
NominelEffectEach1                  NaN
Year1                               NaN
Pieces2                             NaN
Manufacturer2                       NaN
SubType2                            NaN
HxType2                             NaN
NominelEffectEach2                  NaN
Year2                               NaN
Pieces3                             NaN
Manufacturer3                       NaN
SubType3                            NaN
HxType3                             NaN
NominelEffectEach3                  NaN
Year3                               NaN
Pieces4                             NaN
Manufacturer4                       NaN
SubType4                            NaN
HxType4                             NaN
NominelEffectEach4                  NaN
Year4                               NaN
Name: 13, dtype: object

In [24]:
for col in d_gt_labels.columns:
    print(f"{col} has the following values: {d_gt_labels[col].value_counts()}")

Pieces1 has the following values: Pieces1
1.00    2022
2.00     184
3.00      39
4.00      22
5.00       2
0.25       1
0.53       1
0.94       1
Name: count, dtype: int64
Manufacturer1 has the following values: Manufacturer1
Unknown                           1452
Reci                               212
Gemina Termix                      106
None - direct district heating      80
CTC                                 67
Sondex Teknik                       66
Reflex                              44
Danfoss Redan                       28
Danfoss                             24
Elge                                22
Kähler & Breum                      21
WPH Teknik                          21
Metro Therm                         20
Cetetherm                           20
Alfa Laval                          19
Ajva                                14
Armatec                             13
Ajva                                 6
APV                                  5
Ducon                                5
Sundex                               4
HS Tarm                              4
Megatherm                            4
Ducan                                3
Contherm                             2
Aga                                  2
Ducon Jan                            1
Gemina                               1
Cedervall                            1
Danfoss Redan                        1
KN                                   1
ED Heating                           1
Baxi                                 1
Celetherm                            1
Name: count, dtype: int64
SubType1 has the following values: SubType1
SL3323TLX                51
SKR                      21
Compactstation CSC213    16
VX-2                      9
VT 60-III                 9
                         ..
T-24-H 46                 1
SL140TL150C               1
T-100M 24                 1
SKR 41-1 VF               1
VVX HS                    1
Name: count, Length: 191, dtype: int64
HxType1 has the following values: HxType1
Isoleret varmeveksler          1372
Fjernvarmeveksler               238
Varmeveksler                    148
Uisoleret varmeveksler           93
Isoleret pladevarmeveksler       87
Isoleret veksler                 80
Isoleret rørvarmeveksler         48
Isoleret rørveksler              12
Isoleret fjernvarmeveksler        8
Veksler                           5
Isoleret pladeveksler             5
Isoleret pladerørveksler          3
Pladeveksler                      2
Rørveksler                        2
Uisoleret pladevarmeveksler       2
Isoleret dampvarmeveksler         1
Pladevarmeveksler                 1
Name: count, dtype: int64
NominelEffectEach1 has the following values: NominelEffectEach1
1100 kW                  51
150 kW                   18
400 kW                   11
700 kW                   10
250 kW                    9
100 kW                    6
395 kW (total 790 kW)     3
300 kW                    3
750 kW                    3
40 kW                     3
800 kW                    2
364 kW                    2
380 kW                    2
810 kW                    2
81 kW                     2
830 kW                    2
500 kW                    2
230 kW (total 465 kW)     2
220 kW                    2
50 kW                     2
55 kW                     2
226 kW                    2
440 kW                    1
110 kW                    1
300 kW (total 600 kW)     1
80 kW                     1
37 kW                     1
1500 kW                   1
480 kW                    1
158 kW                    1
116 kW                    1
200 kW                    1
After 1980                1
33 kW                     1
90 kW                     1
688 kW                    1
1000 kW                   1
35 kW                     1
1200 kW                   1
70 kW                     1
25 kW                     1
238 kW                    1
900 kW                    1
225 kW                    1
28 kW                     1
58 kW                     1
180 kW                    1
75 kW                     1
600 kW                    1
596 kW                    1
Name: count, dtype: int64
Year1 has the following values: Year1
After 1980    174
2017           61
2000-2009      43
2010-2019      35
1986           29
             ...
1995            1
1981            1
1972            1
1983            1
2024            1
Name: count, Length: 67, dtype: int64
Pieces2 has the following values: Pieces2
1.0    87
3.0     5
2.0     4
Name: count, dtype: int64
Manufacturer2 has the following values: Manufacturer2
Elge              51
Reci              10
Gemina Termix     10
Alfa Laval         5
CTC                4
Sondex Teknik      3
Unknown            3
Danfoss            3
Kähler & Breum     2
Cetetherm          2
Reflex             1
Ajva               1
WPH Teknik         1
Megatherm          1
Name: count, dtype: int64
SubType2 has the following values: SubType2
MDR79-14                    51
Compactstation, 28VX ISO     5
LP280H-46                    4
XB59M-1-100                  3
A15-*B*                      2
GE18H x 69                   1
ST 20-ST                     1
SL 140TL -1/50               1
KNSB 23703                   1
BVX2-1                       1
CB 200-124H                  1
VT240                        1
Name: count, dtype: int64
HxType2 has the following values: HxType2
Rørveksler               52
Isoleret varmeveksler    33
Pladeveksler              1
Veksler                   1
Isoleret veksler          1
Varmeveksler              1
Name: count, dtype: int64
NominelEffectEach2 has the following values: NominelEffectEach2
800 kW                    1
180 kW                    1
Isoleret varmeveksler     1
800kW                     1
200 kW                    1
319 kW                    1
750 kW (total 2200 kW)    1
Name: count, dtype: int64
Year2 has the following values: Year2
1999          51
2016           7
1989           4
2020           4
2004           3
1988           2
2018           2
1974           2
2001           1
After 1980     1
2017           1
2019           1
2013           1
1984           1
2010           1
Name: count, dtype: int64
Pieces3 has the following values: Pieces3
1.0    6
2.0    2
Name: count, dtype: int64
Manufacturer3 has the following values: Manufacturer3
Reci          5
Alfa Laval    2
Unknown       1
Name: count, dtype: int64
SubType3 has the following values: SubType3
LP120-60     4
VT120        1
Name: count, dtype: int64
HxType3 has the following values: HxType3
Isoleret varmeveksler    7
Rørveksler               1
Name: count, dtype: int64
NominelEffectEach3 has the following values: NominelEffectEach3
150 kW                   1
400 kW (total 800 kW)    1
Name: count, dtype: int64
Year3 has the following values: Year3
2017.0    5
2015.0    1
1984.0    1
Name: count, dtype: int64
Pieces4 has the following values: Pieces4
1.0    6
Name: count, dtype: int64
Manufacturer4 has the following values: Manufacturer4
Armatech    4
Unknown     2
Name: count, dtype: int64
SubType4 has the following values: SubType4
Cvcu-p SO14404     4
Name: count, dtype: int64
HxType4 has the following values: HxType4
Isoleret varmeveksler    5
Isoleret pladeveksler    1
Name: count, dtype: int64
NominelEffectEach4 has the following values: Series([], Name: count, dtype: int64)
Year4 has the following values: Year4
2018.0    4
Name: count, dtype: int64

In [25]:

to_csv(d_gt.loc[:, ["S_text", "L_text", "Pieces1", "Manufacturer1", "SubType1", "HxType1", "NominelEffectEach1", "Year1"]], "gt")

In [26]:
d_gt.loc[84, ["S_text", "L_text", "Pieces1", "Manufacturer1", "SubType1", "HxType1", "NominelEffectEach1", "Year1"]]

S_text                Fjernvarme med isoleret veksler (indirekte anl...
L_text                Bygningen opvarmes med fjernvarme.\nAnlægget e...
Pieces1                                                             1.0
Manufacturer1                                             Sondex Teknik
SubType1                                                       ST 15-ST
HxType1                                           Isoleret varmeveksler
NominelEffectEach1                                               200 kW
Year1                                                        After 1980
Name: 84, dtype: object

In [30]:
print(d_gt.loc[2000,'S_text'], ". ", d_gt.loc[2000, 'L_text'])

Fjernvarme - isoleret varmeveksler - indirekte anlæg.  .  Bygningen opvarmes med fjernvarme. Anlægget er udført med en isoleret pladevarmeveksler, fabrikat Reci fra 2014 og indirekte centralvarmevand i fordelingsnettet. Effekten for veksleren beregnes til 25W/m2, da den ikke kunne aflæses på typeskiltet på veksleren.

Der fortages regelmæssig (årligt) service af ejendommens varmecentral, herunder rens af varmtvandsbeholder o.l.

In [32]:
print(d_gt.iloc[2000, 7:31])

Pieces1                                      1.0
Manufacturer1                               Reci
SubType1                                     NaN
HxType1               Isoleret pladevarmeveksler
NominelEffectEach1                           NaN
Year1                                       2014
Pieces2                                      NaN
Manufacturer2                                NaN
SubType2                                     NaN
HxType2                                      NaN
NominelEffectEach2                           NaN
Year2                                        NaN
Pieces3                                      NaN
Manufacturer3                                NaN
SubType3                                     NaN
HxType3                                      NaN
NominelEffectEach3                           NaN
Year3                                        NaN
Pieces4                                      NaN
Manufacturer4                                NaN
SubType4                                     NaN
HxType4                                      NaN
NominelEffectEach4                           NaN
Year4                                        NaN
Name: 2000, dtype: object